.signup-field{
    display: flex;    
    flex-direction: column;    
    margin: 1rem auto;
    padding: auto 0;
    max-width: 300px;
}
.signup-field div{
    margin: .2rem;
    display: flex;
    justify-content: space-between;   
}
.signup-field label{
    font-size: .7rem;
}
@media (min-width:500px){
    .signup-field label{
            font-size: 1rem;
    }
}
@media (min-width:1000px){
    .signup-field label{
            font-size: 1.2rem;
    }
}